@tailwind base;
@tailwind components;
@tailwind utilities;

.start-button:hover {
    background-color: rgba(16, 185, 129);
    color: white;
}

.option:hover {
    color: white;
    background-color: black;
}

.button:hover {
    background-color: rgba(16, 185, 129);
    color: white;
}
